body{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
/* start nav bar main */
.upper-bar{
    /* background-color: rgba(61, 192, 83, 0.808); */
    background-color: orange;
    color:#FFF;
    padding:10px;
}
.upper-bar span{
    margin-left:10px;
}

.any-data-up{
    color:#FFF;
    text-transform:capitalize;
}
.any-data-up span{
    list-style: none;
    line-height:1.7;
}
.any-data-up span a{
    text-decoration: none;
    color:#FFF;
}
.any-data-up span a:hover{
    text-decoration: none;
    color:#FFF;
    font-size: 102%;
}

/* end nav bar main */
/* start navbar brand */
.new-serve{
    color: rgba(61, 192, 83, 0.808);
}
.navbar-nav, .navbar-link{
    font-size:20px;
    text-transform:uppercase;
}
/* end navbar brand */
/* start cinema style */
.cinema{
    min-height:400px;
    position:relative;
    background-image: url('assets/forpa.jpg');
    background-size:cover;

}
.overlay{
    background-color:rgba(0, 0, 0, 0.6);
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
}
.cinema .header-information{
    z-index:2;
    top:50%;
    color:#FFF;
    text-transform: capitalize;
    left:50%;
    line-height:1.6;
    font-size: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
}
.cinema .header-information p {
    line-height:1.6 ;
}
/* end cinema style */

/* start who us */
.who-us{
    /* background-color: #DDD; */
    margin-top:70px;
    margin-bottom:40px;
    /* border-radius:10% 10% 10% 20%; */
}
.who-us .text-data{
    /* color: rgba(61, 192, 83, 0.808); */
    /* font-weight:bold; */
    
}
/* end who us */
/* start providers */
.providers{
    margin-bottom:70px;
    overflow: hidden;
}
.providers img{
    width: 100%;
    height:100%;
    transition:all 1s;
}
.providers h1{
    text-align:center;
    text-transform:capitalize;
}
.providers .my-image{
    overflow: hidden;
    position: relative;
    text-align: center;
    width:100%;
    height:100%;
}
.providers .my-image .caption{
    background-color:rgba(0,51,153,0.2);
    position: absolute;
    top:0;
    overflow: hidden;
    width:100%;
    height:100%;
    left:100%;
    transition: all 1s;
}
.providers .my-image:hover .caption{
    left:0;
    transform:rotate(-360deg);
}
.providers .my-image .caption h3{
    color:#FFF;
    position:relative;
    transition-delay:2s;
    overflow: hidden;
    top:50%;
}
/* end providers */
/* start footer  */
footer{
    margin-top:70px;
    height:300px;
    background-color: orange;
}
/* end footer */
.any-data{
    margin-top:70px;
    color:#FFF;
    text-transform:capitalize;
}
.any-data ul li{
    list-style: none;
    line-height:1.7;
}
.any-data ul li a{
    text-decoration: none;
    color:#FFF;
}
.my-form{
    /* text-align:center; */
    position: relative;
    margin-top:20px;
}
.my-form .form-me{
    
    position: relative;
}
.my-form .form-me .forms{
   margin-left: 200px;
}
.my-form .form-me h1{
    text-align:center;
}
.welcome{
    width:600px;
    margin-bottom:20px;
    margin-top:20px;
}
.my-btn{
    width:200px;
    padding:10px;
    background: none;
    color:#000;
    font-weight: bold;
    text-transform:capitalize;
    border:2px solid orange;
    transition: all 1s;
}
.my-btn:hover{
    background-color: orange;
    color:#FFF;
}
hr{
    color:#000;
    height:3px;
    font-weight:bold;
}
.rights{
    text-align:center;
    color:#FFF;

}